    /* Add any additional custom styles here */
    /* global styles */
    /* style for the background of the page */
    body {
        background-color: rgb(65, 65, 65);
        color: white;
        margin: 0;
        padding: 0;
      }
      nav {
        display: none;
      }
      .hamburger-menu {
        background-color: black;
        color: white;
        font-size: large;
      }
  
      .header {
        background-color: darkgray;
        color: white;
        text-align: center;
        padding: 20px 0;
      }
  
      .nav-item:hover .nav-link {
        background-color: lightgray;
        color: black;
      }
      
      .container-fluid {
        height: 100vh;
      }
      
      /* .row {
        height: 25%;
      } */
  
      @media (max-width: 767px) {
        .hamburger-menu {
          display: block;
        }
  
        nav {
          display: none;
        }
  
        nav.open {
          display: block;
        }
      }